* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  min-height: 100vh;

  background:
    radial-gradient(circle, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.85)),
    url("../images/background.png");

  background-size: cover;

  background-position: center;

  color: white;

  padding-top: 35px;
}

/* NAVBAR */

nav {
  width: 90%;

  margin: auto;

  display: flex;

  justify-content: space-between;

  align-items: center;
}

.logo img {
  width: 160px;
}

.nav-links {
  display: flex;

  gap: 40px;
}

.nav-links a {
  color: white;

  text-decoration: none;

  font-size: 12px;

  font-weight: bold;
}

/* HERO */

.hero {
  height: 430px;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;
}

.hero h1 {
  font-size: 72px;

  font-weight: bold;

  color: white;
}

.keywords {
  display: flex;

  gap: 45px;

  margin-top: 25px;
}

.keywords span {
  font-size: 14px;

  font-weight: bold;
}

.button {
  margin-top: 40px;

  padding: 15px 32px;

  border: none;

  border-radius: 30px;

  background: #c271ff;

  color: white;

  font-size: 12px;

  font-weight: bold;

  cursor: pointer;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

/* PROS SECTION */

.pros {
  text-align: center;
}

.pros h2 {
  font-size: 32px;

  font-weight: 300;

  margin-bottom: 50px;
}

.pros h2 span {
  color: #c271ff;
}

.pros-container {
  display: flex;

  justify-content: center;

  gap: 80px;
}

.pro-card {
  text-align: center;

  color: white;
}

.pro-card img {
  width: 150px;

  height: 150px;

  border-radius: 50%;
}

.pro-card h3 {
  margin-top: 20px;

  font-size: 16px;

  font-weight: bold;
}

.pro-card p {
  margin-top: 8px;

  font-size: 14px;

  font-style: italic;
}
