* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* HERO BACKGROUND */

.hero-section {
  min-height: 100vh;

  background:
    radial-gradient(circle at center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.85)),
    url("../images/background.png");

  background-size: cover;

  background-position: center;

  color: white;

  position: relative;
}

/* NAVIGATION */

nav {
  position: absolute;

  top: 35px;

  left: 0;

  width: 100%;

  padding: 0 10%;

  display: flex;

  justify-content: space-between;

  align-items: center;
}

.logo img {
  width: 170px;
}

.nav-links {
  display: flex;

  gap: 45px;
}

.nav-links a {
  color: white;

  text-decoration: none;

  font-size: 12px;

  font-weight: bold;
}

/* HERO CONTENT */

.hero-content {
  height: 620px;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;
}

.hero-content h1 {
  font-size: 64px;

  font-weight: 700;

  margin-bottom: 25px;
}

.keywords {
  display: flex;

  gap: 50px;
}

.keywords span {
  font-size: 14px;

  font-weight: bold;
}

button {
  margin-top: 35px;

  background: #c271ff;

  border: none;

  color: white;

  font-weight: bold;

  font-size: 12px;

  padding: 15px 30px;

  border-radius: 25px;
}

/* PROS */

.pros {
  text-align: center;

  padding-top: 40px;
}

.pros h2 {
  font-size: 32px;

  font-weight: 300;

  margin-bottom: 45px;
}

.pros h2 span {
  color: #c271ff;

  font-weight: bold;
}

.pros-container {
  display: flex;

  justify-content: center;

  gap: 70px;
}

.pro-card {
  text-align: center;
}

.pro-card img {
  width: 150px;

  height: 150px;

  border-radius: 50%;
}

.pro-card h3 {
  margin-top: 20px;

  font-size: 16px;
}

.pro-card p {
  font-size: 14px;

  margin-top: 8px;
}
